@model WebChat.Models.Im.DialogueInfoModel
@using Microsoft.AspNet.Identity;
@Scripts.Render("~/bundles/autosize")
@{
    Layout = null;
}


<div class="row">
    <img src="@Model.PhotoUrl" class="avatar" style="width:40px; height: 40px" />
    <h3 style="display: inline-block">@Model.Name</h3>
</div>
<hr />

@Html.Hidden("companionId", Model.CompanionId, new { @id = "companionId" })
@Html.Hidden("dialogueId", Model.DialogueId, new { @id = "dialogueId" })

@if (!Model.IsContactConfirmed)
{
    if (User.Identity.GetUserId() == Model.FriendsheepInitiator)
    {
        <h5>You can't send a message to this user unil he will approve your invitation</h5>
    }
    else
    {
        <h5>The User @Model.Name want to add you to his contact book</h5>
        <div class="row" style="margin-top:50px;">
            <input type="button" class="btn btn-info" value="Accept" onclick="AcceptContact('@Model.CompanionId')" />
            <input type="button" class="btn btn-danger" value="Decline" onclick="DeclineContact('@Model.CompanionId')" />
        </div>
    }

}
else
{
    <div id="message-list">
        @if (Model.Messages != null && Model.Messages.Count > 0)
        {
            foreach (var msg in Model.Messages)
            {
                <div>
                    <dl>
                        <dt>@msg.SenderName (@msg.SendTime)</dt>
                        <dd>
                            @msg.message
                        </dd>
                    </dl>
                </div>
            }
        }
    </div>
    <textarea id="message-box" class="form-control" style='max-height: 200px'></textarea>
}

<script>
    autosize(document.querySelectorAll('textarea'));
</script>