@model WebChat.Models.Contact.ContactListModel
@{ Layout = null; }

@if (Model == null)
{
    return;
}

@foreach (var contact in Model.Contacts)
{
    <div class="row user-contact" onclick="StartDialogue(this)"
         data-contact-id="@contact.Id" data-name="@contact.ContactName" data-confirmed="@contact.Confirmed" data-has-new-message="@contact.HasNewMessages">
        <div class="col-md-2 contact-icon">
            @{

                string imagePath = contact.Confirmed ? (contact.ContactPhotoUrl ?? @"/Content/Images/avatar-default.png") : @"/Content/Images/avatar-unknown.png";
                <img src="@imagePath" class="avatar" />
            }
        </div>
        <div class="col-md-10 contact-name">
            <span class="contact-name-text col-md-6">@contact.ContactName</span>
            @if (contact.HasNewMessages)
            {
                <span class="glyphicon glyphicon-tint new-message col-md-offset-5"></span>
            }
        </div>
        <hr />
    </div>
}
