@model WebChat.Models.Account.SignUpModel

@{
    ViewBag.Title = "Sign Up";
}


@using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col-md-offset-5">
            <h3>Join us today</h3>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Repeat password" } })
                    @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <div class="input-group" style="width:280px;">
                        <input type="file" id="file-input" class="hidden" name="UserPhoto"/>
                        <input class="form-control file-browser" id="file-name" placeholder="Attach user photo" readonly>
                        <div class="input-group-btn file-browser">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Sign Up" class="btn btn-default" />
                </div>
                <div class="col-md-10" style="padding-top: 4px;">
                    @Html.ActionLink("back to sign in page", "SignIn", "Account")
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    //scripts for sign up page
    $(".file-browser").on('click', function () {
        $('#file-input').trigger("click");
    });

    $('#file-input').change(function () {
        var fileInput = document.getElementById('file-input');
        if (fileInput.files.length > 0) {
            var filename = fileInput.files[0].name;
            $('#file-name').val(filename);
        }
        else {
            $('#file-name').val("");
        }
    });
</script>

